.appointments {
  background-color: #f1f1f14f;
  padding: 50px 15%;

  .fc {
    background: white;
    .fc-timegrid-col {
      &.fc-day-today {
        background-color: white;
      }

      .fc-non-business {
        cursor: not-allowed;
      }
    }
    .fc-header-toolbar {
      border: 0.5px solid #8080804a;
      border-bottom: 0;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding: 15px 20px;
      margin-bottom: 0;

      .fc-toolbar-chunk {
        div {
          border: 0.5px solid #8080804a;
          border-radius: 5px;
          display: flex;
          padding: 10px;
          align-items: center;

          .fc-toolbar-title {
            font-size: 1rem;
            margin-right: 10px;
          }
          .fc-prev-button,
          .fc-next-button {
            background: none;
            color: black;
            border: none;
            padding: 0;
            color: grey;
            transition: 0.2s color;

            &:hover {
              color: black;
            }
          }
        }

        .fc-button-group {
          padding: 0;
          border: none;
          border: 2px solid hsla(0, 0%, 84%, 0.3);
          .fc-timeGridWeek-button {
            background-color: white;
            color: black;
            border: none;
          }
          .fc-dayGridMonth-button,
          .fc-timeGridDay-button {
            background-color: hsla(0, 0%, 84%, 0.3);
            border: none;
            color: black;

            &:hover {
              background-color: hsla(0, 0%, 84%, 0.446);
            }
          }
        }
      }
    }

    .fc-view-harness {
      border: 0.5px solid rgb(128 128 128 / 29%);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .fc-scrollgrid {
      border: 0;
    }
    .fc-scrollgrid-section > * {
      border: none;
    }
    .fc-col-header {
      border-bottom: 0.5px solid rgb(128 128 128 / 29%);
      .fc-col-header-cell {
        border-right: none;
        vertical-align: middle;
        padding: 10px;

        .fc-col-header-cell-cushion {
          padding: 5px;
          max-width: min-content;
          text-transform: uppercase;
        }
      }
      .fc-day-today {
        .fc-col-header-cell-cushion {
          background-color: rgb(25, 118, 210);
          color: white;
          border-radius: 10px;
        }
      }
    }

    .fc-scrollgrid-section-body table {
      tr:nth-child(even) {
        border-bottom: 0.5px solid rgb(128 128 128 / 29%);
      }

      .fc-timegrid-slot-label {
        vertical-align: baseline;
        padding-left: 20px;
        padding-right: 5px;
        padding-top: 5px;
        border-bottom: none;
        text-transform: uppercase;
      }
    }
  }

  .fc-theme-standard td,
  .fc-theme-standard th {
    border: none;
    border-right: 0.5px solid rgb(128 128 128 / 29%);
    height: 60px;
    cursor: pointer;
  }
  .fc-event {
    margin: 4px;
    .fc-event-main-frame {
      padding: 5px;
      align-items: center;
      justify-content: space-evenly;

      .fc-event-title-container {
        flex-grow: 0;
        flex-shrink: 0;
      }
    }
  }
}
