.edit-content {
  .edit-data-form {
    display: flex;
    justify-content: center;
    gap: 40px;

    .inputs {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .input {
        display: flex;
        gap: 20px;
      }
    }
  }
}
